body, html {
    margin: 0px auto;
    height: 100%;
    background: linear-gradient(white, crimson);
}
.conteneur {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
.BlocOne {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 6px 6px 6px black;
    height: 60%;
    width: 20%;
}
.loginEmail, .loginPassword  {
    font-size: 18px;
    color: black;
    width: 65%;
    border-radius: 5px;
    padding: 5px 45px 5px 50px;
    background: whitesmoke;
    display: block;
}
.loginEmail:focus , .loginPassword:focus {
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px;
    color: black;
    
}
.loginButton {
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    transition: transform .2s;
}
.loginButton:hover {
    transform: scale(1.1);
}
.registerLink-01 {
    color: gray;
}
.registerLink-02 {
    color: gray;
}
.registerLink-02:hover {
    color:cyan; /* changer les couleurs */
}
.titleLogin {
    font-size: 40px;
    margin: 0 0 50px 0;
}