body {
    margin: 0px auto;
    height: 100%;
    background-image: url(../../public/img/fond.svg);
    background-position: 50% 100%;
}
.conteneur {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    
}
.element01 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: 6px 6px 6px black;
    height: 500px;
    width: 380px;
}
.input01 {
    font-size: 18px;
    color: black;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: whitesmoke;
    display: block;
}
.buttonRegister {
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    border: solid 1px black;
    transition: transform .2s;
}
.buttonRegister:hover {
    background-color: white;
    transform: scale(1.1);
}
.registerTitle {
    font-size: 25px;
    margin: 0 0 50px 0;
}